html{
    background-image: url('/Port/css/back/12.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

:root{

    --cor1:rgb(241, 206, 8);
}

header{
    box-shadow: 0px 5px 20px black;
    margin: 5vh 20vh;
    background: rgb(255, 255, 255);}
.bloco{
    width: 100%;
    display: flex;}

.bloco-texto{
    padding: 20vh 10vh 20vh 15vh;
    width: 50%;}
.bloco-texto-sal{
    font-size: 5vh;}


.bloco-texto-nome{
    padding-bottom: 2vh;
    font-size: 8vh;}
.bloco-texto-nome span{
    color: var(--cor1);}


.bloco-texto-prof{
    border-radius: 10px;
    background-color: var(--cor1);
    padding: 1vh;
    font-size: 17px;
    font-style:italic;
    display: inline-table;}
    
.bloco-texto-descricao{
    font-style: italic;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 19px;
    text-align: justify;}
.bloco-texto-linkcontato{
    background-color: var(--cor1);
    color: white;
    text-decoration: none;
    font-size: 3vh;
    border-radius: 15px;
    padding: 1vh 2vh;
    font-style:oblique;

}



.bloco-perfil{
    width: 50%   
}
.bloco-perfil-img{
    width: 100%;
    height: 100%;
}