@charset "UTF-8";

:root {

    --cor1: #402424;
    --cor2: #904A3C;
    --cor3: #DA804A;

}

html {
    scroll-behavior: smooth;
    transition: 1s;
    background-color: #402424;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: 100%
}

header {

    top: 0;
    left: 0;
    right: 0;
    background-color: #402424;
}

.cabeça-itens {
    text-transform: uppercase;
    padding: 4% 9%;
}

.cabeça-itens a {
    text-decoration: none;
    color: #DA804A;
}


.cabeça-itens a {
    text-shadow: 0px 4px 5px black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 3vh;
    padding: 10px 10px;


}

.cabeça-itens a:hover {
    color: white;
    transition: 0.7s;
}

.cabeça ul {
    gap: 3vh;
    list-style-type: none;
    display: flex;
}

/*TITULO*/

.proff {
    text-transform: uppercase;
    align-content: center;
    width: 100%;
    height: 55vh;
    background-color: #402424;
    padding: 4% 10%;
    display: flex;
    padding-bottom: 10%;
}


.proff-corpo .titulo {
    color: white;
}



.proff-corpo {
    align-content: center;
    width: 50%;
    text-shadow: 0px 4px 5px black;
    color: var(--cor3);
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
}

.proff .proff-avatar {
    align-content: center;
    width: 50%;

}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


main{
    padding-bottom: 5vh;

}
.sobre {
    width: 60%;

}
.sobre aside p{
    margin-top: 5vh;
}

.contei {
    align-items: center;
    height: 100vh;
    padding-bottom: 10vh ;
    gap: 5px;
    margin-top: -3px;
    width: 100%;
    display: flex;
}
.contei .icone {
    padding: 10vh;
    width: auto;
    display: flex;
    align-items: center;

}

.contei .icone img {

    width: 12vh;
}


.sobre h2 {
    margin: 5vh 0 0 0;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor1);
}

.sobre h3 {
    margin: 0 0 5vh 0;
    font-size: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
}

aside p {
    color: var(--cor1);
    font-size: 3vh;
    text-align: justify;
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}



    /* >>>>Projetos<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.contei-projetos h3{
    text-align: center;
    margin: 0 0 5vh 0;
    font-size: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor2);


}

.contei-projetos-tudo{
    align-items: center;
    height: 77vh;
    justify-content: center;
    display: flex;
    gap:9vh
}
.contei-projetos-tudo-bloco img{
        width: 40vh;
    }



/* >>>>Largura<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media(max-width: 1004px){
    .contei-projetos-tudo{
        align-items:baseline;
        height: 50vh;
    }

    .proff-corpo {
        width: 65%;
        font-size: 5vh;
    
        }   
     
    .contei{
        display: block;
    } 
    .contei .sobre{

        width: 100%;
    }    
    .contei .icone{
        justify-content: center;

    }

    }
    
    
@media (max-width: 700px) {

    .contei{
        padding-bottom: 0;
    }
    .contei-projetos-tudo-bloco img{
        height: auto;
    }

    .contei-projetos-tudo{

        height: 100vh;
        display: block;
    }
    
    .contei-projetos{
        position: relative;
        padding-top: 10vh;
    }

    .suporte {
        margin-bottom: 86vh;
        padding: 0px 7vh 20vh;}

    .contei .sobre{
        padding: 10vh 0 0 ;
        width: 100%;
    }    
    .contei .icone {
        margin: auto;
        padding: 10vh 0 0 0;
        display: flex;
    }

    
    .proff-corpo {
        width: 100%;
        font-size: 5vh;
        
            }   
    .proff-corpo.titulo.funcao {
        text-align:center;
        }
    
    .proff .proff-avatar {
        display: none;
        }
    
    }
    
    /* >>>>Corpo<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
    